#header-nav{
  background-color: blue;

}
.navbar-brand{
  text-decoration: none;
}
.navbar-brand h1{
  color:white;
  text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
  margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

#collapsable-nav{
  text-align: center;
  color:red;
  border-bottom: 1px solid black;
}
#nav-list li{
  border-bottom: 1px solid black;
padding: 20px;
font-size: 1em;
background-color: yellow;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.category{
  text-align: center;
  background-color: gray;
  height: 1000px;
width: 100%;
margin-bottom: 15px;
position: relative;
border: 2px solid #3F0C1F;
overflow: hidden;
}
